[submodule "extern/jansson"]
	path = extern/jansson
	url = https://github.com/akheron/jansson.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
